* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, Inter;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.social-media {
  list-style-type: none;
  display: flex;
  color: black;
  gap: 5px;
  padding-top: 10px;
}

.mobile-only {
  display: none;
}


@media screen and (max-width: 480px) {
  .about-me-container {
    width: 100% !important;
    height: 700px;
    padding: 10px !important;
  }

  .social-media {
    padding-top: 15px;
    justify-content: center;
  }

  .tools {
    text-align: center;
  }

  p,
  h1 {
    text-align: center;
  }

  h1 {
    height: 120px;
  }

}

@media screen and (max-width: 700px) {
  .mobile-only {
    display: block;
  }
}


@media screen and (max-width: 900px) {

  body {
    margin: auto;
    height: 700px;
    padding: 10px !important;
  }

  .about-me-container {
    flex-direction: column;

  }

  p,
  h1 {
    text-align: center;
  }

  .clock-container {
    text-align: center;
    padding-bottom: 15px;
  }


  .typing-container {
    width: 100% !important;
  }

  .social-media {
    padding-top: 15px;
    justify-content: center;
    
  }
}


.typing-container {
  font-size: 20px;
  min-width: 55%;
}

.auto-type {
  font-size: 50px;
  font-weight: 500;
}

.typed-cursor {
  font-size: 50px;
  font-weight: 500;
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.1s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.memoji {
  display: flex;
  width: 300px;
  border-radius: 50%;
  z-index: 2;
}

.about-me-container {
  position: relative;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  vertical-align: middle;

  padding: 30px;
  border-radius: 16px;
  overflow: hidden;
}

.typing-container {
  z-index: 2;
}

.about-me-container::before {
  content: '';
  position: absolute;
  width: 270px;
  height: 380%;
  background: linear-gradient(#00FF00, #00FF00);
  animation: rotate 4s linear infinite;
}

.about-me-container::after {
  content: '';
  position: absolute;
  background: white;
  inset: 5px;
  border-radius: 16px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}



.tools {
  padding-top: 10px;
  font-size: 16px;

}

.fa-html5 {
  font-size: 40px;
  padding-right: 5px;
  color: #DC4A25;
}

.fa-css3-alt {
  font-size: 40px;
  padding-right: 5px;
  color: #1F8EE7;
}

.fa-js {
  font-size: 40px;
  padding-right: 5px;
  color: #EBD41C;
}

.fa-twitter {
  color: black;
  font-size: 30px;
  transition: transform 250ms;
}

.fa-linkedin-in {
  color: black;
  font-size: 30px;
  transition: transform 250ms;
}

.fa-github {
  color: black;
  font-size: 30px;
  transition: transform 250ms;
}

.fa-dev {
  font-size: 30px;
  color: black;
  transition: transform 250ms;
}

.fa-github:hover {
  color: #00FF00;
  transform: translateY(-10px);
}

.fa-linkedin-in:hover {
  color: #00FF00;
  transform: translateY(-10px);
}

.fa-twitter:hover {
  color: #00FF00;
  transform: translateY(-10px);
}

.fa-dev:hover {
  color: #00FF00;
  transform: translateY(-10px);
}

#clock {
  font-size: 14px;
}

.local-time {
  font-size: 14px;
}